<div id="artist-related-products" class="col-md-12">
<div class="section-title">
	<% unless @product.artists.empty? %>
		<h1><%= Spree.t(:more_products_by) %> <%= @product.artists.first.name %></h1>
	</div>
	<%= render :partial => 'spree/shared/products', :locals => { :products => @product.artists.first.products[0..3] } %>
	<% end %>
</div>
